[Desktop Entry]
Encoding=UTF-8
Name=Tint2 Openbox Menu
Comment=Tint2 Openbox Menu Hack
X-GNOME-FullName=Openbox Menu
Exec=xfce4-popup-whiskermenu
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=~/.config/tint2/icon.png
Categories=Menu;
MimeType=
StartupNotify=true
